body{
	background: #F5F5F5;
	font-family: 'Ubuntu', sans-serif;
}
#back{
	position: absolute;
width: 1920px;
height: 120px;
left: 0px;
top: 0px;

	background: #FFB44E;
}
	
#logo {
	position: absolute;
width: 81px;
height: 78px;
left: 41px;
top: 19px;
}
#words {
	position: absolute;
width: 998.17px;
height: 48.52px;
left: 193.2px;
top: 33.75px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 46px;

color: #FFFFFF;
}
nav {
	position: absolute;
	top: 120px;
	background: #C2CEFC;
	left: 0px;
	height: 54px;
	width: 1920px;
}
ul {
	width: 1880px;
}
#aside2 {
position: absolute;
width: 418.18px;
height: 775.2px;
left: 0px;
top: 174.02px;
display: inline-block;
background: #E9E7E7;
} 

#aside1 {
	position: absolute;
width: 418.18px;
height: 775.2px;
left: 47.86px;
top: 0px;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
display: inline-block;
color: #000000;
}
#students {
	position: absolute;
width: 1149.72px;
height: 558.98px;
left: 505px;
top: 210px;
}
#text {
position: absolute;
width: 1156.56px;
height: 88.59px;
left: 505px;
top: 786.91px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #000000;
}
#footback {
	position: absolute;
width: 1920px;
height: 131px;
left: 0px;
top: 949px;

background: #28376F;
}
#foottext {
position: absolute;
left: 3%;
top: 40%;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}
#footlogo {
	position: absolute;
	left: 96%;
	top: 50%;
}